.nav {
    background-color: #c4c4c4;    
    height: 6rem;
    justify-content: center;
}

.title {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10rem;
}

.nav-link {
    display: flex;
    color: #5ab9ea;
    text-decoration: none;
    text-transform: none;
}




