.navbar {
  background-color: #27d1b2;
  height: 6rem;
  display: absolute;
}

.title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10rem;
}

.nav-link {
  display: flex;
  color: #5ab9ea;
  text-decoration: none;
  text-transform: none;
}
