* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tiles {
  margin-right: 100px;
}

.btn-primary {
  font-size: 1.5em;
}

.cardTitle {
  text-align: center;
  color: #5ab9ea;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #27d1b2;
}

.text {
  text-align: center;
  font-weight: bold;
}
