* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #84ceeb;
}

.navbar-toggler.toggler {
  cursor: pointer;
  outline: none;
  padding: 10px;
}
.icon-bars {
  color: black;
  font-size: 2rem;
}

.nav-link {
  color: black;
}

.card {
  width: 18rem;
  margin-right: 100px;
  margin-left: 100px;
}

.card-img-top {
  padding: 25px;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
}

.card-text {
  text-align: center;
}

.btn {
  margin: 5px;
  width: 100%;
  background-color: #5AB9EA;
}

img {
  height: 250px;
  width: 250px;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #84CEEB;
}

.text {
  text-align: center;
  font-weight: bold;
}
