.square {
  display: inline-block;
  float: left;
  background-color: #27d1b2;
  border: 2px solid black;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
  line-height: 80px;
  height: 90px;
  outline: none;
  text-decoration: none;
}

.game-board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
}

.turn-order {
  font-weight: bold;
  color: black;
  font-size: 35px;
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 50px;
}

.jumbotron {
  padding: 5px;
  background-color: #27d1b2;
  width: 100%;
  border-radius: 0;
}

.footer-tic-tac-toe {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #27d1b2;
  height: 5%;
}

.footer-text {
  color: black;
  font-weight: bold;
  text-align: center;
}

.fa {
  color: black;
}
