.square {
  display: inline-block;
  float: left;
  background: white;
  border: 2px solid black;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
  line-height: 80px;
  height: 90px;
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.turn-order {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
