.container-one-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #686866;
}

.container-two-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  width: 35%;
  height: 60%;
}
