.form-input {
  display: flex;
  border-top: 5px solid #27d1b2;
  border: 0;
}

.input-text {
  padding: 5%;
  width: 80%;
  font-size: 1em;
  outline: none;
  border-top: 2px solid #27d1b2;
  border-radius: 5px;
}

.button-two {
  display: inline-block;
  width: 20%;
  padding: 10px;
  color: white;
  text-decoration: none;
  background: #27d1b2;
  border: none;
  outline: none;
}

.fa {
  color: grey;
}
