* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #c4c4c4;
}

.navbar-toggler.toggler {
  cursor: pointer;
  outline: none;
  padding: 10px;
}
.icon-bars {
  color: black;
  font-size: 2rem;
}

.nav-link {
  color: black;
}

.card {
  width: 18rem;
  margin-right: 100px;
  margin-left: 100px;
}

.btn {
  margin: 5px;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c4c4c4;
}

.text {
  text-align: center;
  font-weight: bold;
}
